<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor.provider = cluster
          cluster {
            discovery {
              provider = akka.cluster.discovery.consul
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>